<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Mission to Mars</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/jumbotron/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <style>
      .border-4 {
        border-width: 4px !important;
      }

      .dataframe {
        font-size: small;
      }
    </style>
    <!-- Custom styles for this template -->
    <!--<link href="jumbotron.css" rel="stylesheet">-->
  </head>

  <body>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron container text-center">
        <h1 class="display-3">Mission to Mars</h1>
        <p>
          <a class="btn btn-primary btn-lg" href="/scrape" role="button"
            >Scrape New Data</a
          >
        </p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Latest Mars News</h3>
            <hr />
            <h5>{{mars_data.news_title}}</h5>
            <p>{{mars_data.text}}</p>
          </div>
        </div>

        <div class="row" id="mars-image">
          <div class="col-md-8">
            <h3>Featured Mars Image</h3>
            <hr />
            <img
              class="img-fluid"
              src="{{mars_data.featured_image_url}}"
              alt="Mars Image"
            />
          </div>
          <div class="col-md-4">
            <div class="col-md-12 p-2">
              <div class="media border border-light border-4">
                <div class="media-body my-3 mx-3">
                  <h5>Mars Facts</h5>
                  <p><small>{{mars_data.mars_table|safe}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <h2>Mars Hemispheres</h2>
            <hr />
          </div>

          {% for hemi in mars_data.hemisphere_image_urls %}
          <div class="col-md-6">
            <br />
            <div class="media border border-light border-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="{{ hemi.image }}" />
                <figcaption class="figure-caption">
                  <h4>{{ hemi.title }}</h4>
                </figcaption>
              </figure>
            </div>
          </div>
          {% endfor %}
        </div>

        <hr />
      </div>

      <!-- /container -->
    </main>
  </body>
</html>
